<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salty</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
</head>

<body>
    <div class="container">
        <section class="hero is-warning" style="margin-top: 6rem">
            <div class="hero-body">

                {% block content %} {% endblock content %}
            </div>
        </section>
    </div>
</body>

</html>