<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salty</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
</head>

<body>

    {% for message in get_flashed_messages() %}
    <div class="notification is-danger">
        <button class="delete"></button> {{message}}
    </div>

    {% endfor %}

    <div class="column container has-text-centered is-3 is offset-1">
        <section class="hero is-warning" style="margin-top: 6rem">
            <div class="hero-body">

                {% block content %} {% endblock content %}
            </div>
        </section>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
</body>

</html>