{% extends 'base.html' %} {% block content %}
<div class="has-text-centered container">
    {% if g['user'] %}
    <h1 class="title">
        Hi, {{g['user'].username}} !
    </h1>
    <h2 class="subtitle">
        <a href="{{url_for('logout')}}" class="button">Log Out</a>
    </h2>
    {% else %}
    <h1 class="title">
        Hi, Stranger !
    </h1>
    <div class="container">
        <h2 class="subtitle">
            <a href="{{ url_for('login') }}" class="button">Log In</a>
            <a href="{{url_for('register')}}" class="button">Sign Up</a>
        </h2>

    </div>
    {% endif %}

</div>

{% endblock content %}